

a
    text-decoration: none
    transition: all .2s

.btn
    background-color: $green
    color: white
    text-transform: uppercase
    padding: 10px 20px
    font-size: .9rem

    &:hover
        background-color: $blue
