

a
    text-decoration: none
    transition: all .2s

.link_block
    display: block
    &:hover
        img
            box-shadow: 0px 0px 5px $gray_light

.btn,
input[type="submit"]
    display: inline-block
    background-color: $green
    color: white
    text-transform: uppercase
    padding: 15px 30px
    font-size: .9rem
    border: none
    font-weight: 700

    &:hover
        background-color: $blue
        cursor: pointer

.btn--white
    @extend .btn
    background-color: white
    color: $blue

    &:hover
        color: white

.btn--yellow
    @extend .btn
    background-color: $yellow

    &:after
        content: ' >'
        font-weight: 400
        font-size: .8
        padding-left: 10px

