/*
 * FOOTER STYLES
 */
    

.site-footer
    margin-top: 20px
    background-color: $blue
    color: #718eaa
    padding: 30px 0

    .footer_item 
        width: 25%

    .footer_title
        margin-bottom: 20px
        
.site-subfooter
    background-color: $blue_dark
    color: $gray_light
    padding: 10px 0
    font-size: .9rem