/*
 * FOOTER STYLES
 */
    

.site-footer
    margin-top: 20px
    background-color: $blue
    color: #718eaa
    padding: 30px 0

    .flex
        @include up-to(800px)
            flex-wrap: wrap

    .footer_item 
        width: 25%
        @include up-to(800px)
            width: 100%
            margin-bottom: 60px

    .widget-area
        width: 75%
        display: flex
        @include up-to(800px)
            width: 100%
            flex-wrap: wrap

    .widget
        width: 33%
        flex: 0 0 33%
        padding: 0 25px
        @include up-to(800px)
            width: 100%
            flex: 0 0 100%
            margin-bottom: 60px
            font-size: 1.2rem
            line-height: 1.8

        a, p
            color: $gray_light
            @include up-to(800px)
                font-size: 1.2rem
                line-height: 1.8

        a:hover
            color: white
            padding-left: 3px
        
        ul
            list-style: "‣ "
            padding-left: 10px
            margin: 0px

    .footer_title
        margin-bottom: 20px
        text-transform: none

    .widget-title
        margin-bottom: 20px


.site-subfooter
    background-color: $blue_dark
    color: $gray_light
    padding: 10px 0
    font-size: .9rem