

// HEAD BRAND

.site-branding
    display: flex
    justify-content: space-between 
    padding: 8px 0
    align-items: center



.header_logo
    width: 35%

    img
        max-height: 80px
        width: auto

.header_contact
    width: 20%
    border-right: 1px solid $gray_light

.header_localisation
    width: 20%




// NAVIGATION MENU

.main-navigation 
    background-color: $blue
    padding: 10px 0

    ul
        list-style: none
        margin: 0
        padding: 0
        display: flex
        justify-content: flex-start

        a 
            font-family: "Hind", Sans-serif
            font-size: 14px
            font-weight: 600
            text-transform: uppercase
            font-style: normal
            line-height: 23.002px
            letter-spacing: 0.56px
            color: white
            padding: 5px 10px

