

// HEAD BRAND

.site-branding
    display: flex
    justify-content: space-between 
    padding: 8px 0
    align-items: center
    @include up-to($bp_medium) 
        flex-wrap: wrap



.header_logo
    width: 25%
    @include up-to($bp_medium) 
        width: 45%

    img
        max-height: 80px
        width: auto
        @include up-to($bp_medium) 
            max-height: 50px
            margin-bottom: 10px

.header_contact
    min-width: 150px
    border-right: 1px solid $gray_light
    @include up-to($bp_medium) 
        width: 45%
        order: 3

    span 
        display: inline-block
        line-height: 1
        padding-top: 5px

.header_localisation
    width: 20%
    padding-left: 10px
    @include up-to($bp_medium) 
        width: 45%
        order: 4

.header_action a
    @include up-to($bp_medium)
        font-size: .7em



// NAVIGATION MENU

.main-navigation 
    background-color: $blue
    padding: 10px 0

    ul
        list-style: none
        margin: 0
        padding: 0
        display: flex
        justify-content: flex-start
        @include up-to($bp_medium)
            flex-wrap: wrap

        a 
            font-family: "Hind", Sans-serif
            font-size: 14px
            font-weight: 600
            text-transform: uppercase
            font-style: normal
            line-height: 23.002px
            letter-spacing: 0.56px
            color: white
            padding: 5px 10px
            @include up-to($bp_medium)
                display: inline-block
                padding: 20px 45px
                font-size: 22px

