.DS_Store
/htdocs/wp-content/uploads
/htdocs/wp-config.php
/softech.code-workspace
/htdocs/.htaccess
/htdocs/gulpfile.js
/htdocs/node_modules
/htdocs/wp-content/uploads
/htdocs/package-lock.json
/htdocs/wp-content/updraft
/htdocs/wp-content/updraft/binziptest/subdir1/subdir2/test.html
/htdocs/wp-content/wflogs
