
body
    font-family: $opensans

.txt-ctr
    text-align: center

.txt-rgt
    text-align: right

h1, 
h2, 
h3, 
h4, 
h5,
h6
    font-family: $hind

.h_2
    font-size: 28px
    font-weight: 600
    text-transform: uppercase
    font-style: normal
    text-decoration: none
    line-height: 1
    color: $blue

.h_21
    text-align: left
    color: $blue_darker
    font-size: 22px
    font-weight: 600
    line-height: 1.44em
    letter-spacing: 0px

    
.h_3
    font-size: 22px
    font-weight: 600
    text-transform: uppercase
    font-style: normal
    text-decoration: none
    line-height: 1.44em
    letter-spacing: 0px
    color: $blue

.h_4
    font-size: 1.2rem
    font-weight: 600
    text-transform: uppercase
    font-style: normal
    text-decoration: none
    line-height: 1
    color: $blue

.ft_1
    text-transform: uppercase
    font-weight: 100
    color: $gray
    font-size: .9rem

    &.green
        color: $green_light
    
    &.blue
        color: $blue

.ft_2
    font-weight: bold
    font-size: .9rem

.icon
    padding: 3px
    svg
        width: 1em
        height: 1em
        position: relative
        display: block


p
    color: #5f656d
    font-size: 1rem
    font-weight: 400
    text-transform: none
    font-style: normal
    text-decoration: none
    line-height: 1.643em
    padding: 0px 0px 0px 0px
    margin: 0px 0px 0px 0px

    .entry-content &
        margin-bottom: 20px

.sep
    font-size: 16px
    display: inline-block
    padding: 0 5px