/*
 * PAGES
 */



.entry-header
    background-color: $gray_lighter
    padding: 7em 0 6em
    margin-bottom: 50px
    position: relative

    .entry-title
        display: inline-block
        font-family: $hind
        color: $blue
        text-transform: uppercase
        font-size: 3rem
        line-height: 1.1em
        letter-spacing: 0px
        font-weight: 600
        background: rgba(255, 255, 255, .7)
        z-index: 999
        position: relative
        padding: .3em .5em 0em

        *
            font-size: inherit
            font-weight: inherit
            text-transform: inherit
            color: inherit
            display: inline
        

.page_content
    margin-bottom: 100px

    // aside
    //     flex: 0 0 30%
    //     width: 30%

    // main
    //     flex: 0 0 60%
    //     width: 60%
    //     order: 2
    //     padding-top: 43px


.entry-rebonds
    background-color: $gray_light
    padding: 3em 0 1em
    
.entry-content
    h5
        font-size: 1.2rem
        margin-bottom: 20px

    img
        margin-bottom: 40px


.entry-meta
    border: 1px solid $gray
    padding: 20px
    font-size: 1.2em
    line-height: 1.2
    div
        margin-bottom: 8px
    a
        color: inherit


.entry-excerpt
    max-width: 750px
    margin-left: auto
    margin-right: auto
    text-align: center
    p
        font-weight: 900
        font-size: 1.4rem


.entry-contenttext
    max-width: 750px
    margin-left: auto
    margin-right: auto


.services_list
    margin-bottom: 40px

    a
        margin-bottom: 7px
        font-size: 14px
        font-style: normal
        text-decoration: none
        line-height: 18.9px
        letter-spacing: 1px
        color: black
        &:hover
            background-color: $gray_lighter


.block_contact
    background-color: $green_light
    color: white
    padding: 20px

    p 
        color: white
        margin-bottom: 20px



